---
import IntroComponent from "../components/IntroComponent.tsx";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Shreyash Portfolio">
  <div class="w-screen h-screen">
    <IntroComponent
      title="Welcome"
      subtitle="Seek The Great Perhaps"
      client:load
    />
    <div class="flex justify-center items-center -mt-40 h-screen">
      Hello World
    </div>
  </div>
</Layout>
