---
import HelloWorld from "../components/HelloWorld";
import NavBar from "../components/Navbar";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Shreyash Portfolio">
  <div class="w-screen h-screen bg-stone-300 flex flex-col">
    <NavBar client:load />
    <div class="content h-screen flex justify-center items-center -mt-20">
      <div class="flex flex-col">
        <div class="text-8xl font-note text-red-900">Hi, I am Shreyash</div>
        <div class="text-4xl font-note text-blue-800">
          A Software Developer and an Amazing Human
        </div>
      </div>
    </div>
  </div>
</Layout>
