---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import mountainSVG from "/public/mountains.svg";
import IntroComponent from "../components/IntroComponent";
---

<Layout title="Projects">
  <div class="w-screen h-screen">
    <IntroComponent
      title="Projects"
      subtitle="Weaving threads of logic into webs."
      client:load
    />

    <div class="flex justify-center items-center min-h-[85vh] pt-[15vh]">
      <div class="flex flex-col">
        <Image src={mountainSVG} alt="mountains" />
        <div class="font-note text-4xl flex justify-center items-center">
          Page Under Construction....
        </div>
      </div>
    </div>
  </div>
</Layout>
